<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            socket.emit('join', {});
        });

        socket.on('message', function(data) {
            var p = document.createElement('p');
            var span_username = document.createElement('span');
            var span_timestamp = document.createElement('span');
            var br = document.createElement('br');
            if (data.username) {
                span_username.innerHTML = data.username;
                span_timestamp.innerHTML = data.timestamp;
                p.innerHTML = span_timestamp.outerHTML + " - " + span_username.outerHTML + ": " + data.msg;
                document.querySelector('#display-message-section').appendChild(p);
            }
            else {
                printSysMsg(data.msg);
            }
        });

        document.querySelector('#send_message').onclick = function() {
            socket.send({'msg': document.querySelector('#user_message').value});
            document.querySelector('#user_message').value = '';
        };

        document.querySelector('#user_message').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#send_message').click();
            }
        };

        function printSysMsg(msg) {
            var p = document.createElement('p');
            p.innerHTML = msg;
            document.querySelector('#display-message-section').appendChild(p);
        }
    </script>
</head>
<body>
    <input id="user_message" type="text" placeholder="Type your message here">
    <input id="send_message" type="submit" value="Send">
    <hr>
    <div id="display-message-section"></div>
</body>
</html>
